.table{
    border-collapse: collapse;
    width: 50%;
}

.table, td, th{
    border: 1px solid #ddd;
    padding: 8px;
}

.table, th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
}

img{
    width: 150px;
    height: 100px;
}

.likeTech {
    color: red;
}