.navBar {
    display: flex;
    overflow: hidden;
    background-color: transparent;
    justify-content: space-around;
}

.item{
    color: #333;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.item:hover{
    color: #70cef2;
}

.btn{
    border: 2px solid #00a2a1;
    border-radius: 30%;
    padding: 14px 16px;
}
