<nav class="navBar">
    <img class="item" src="../../../assets/logo_full_color.svg" alt="" height="25px;" >
    <ul class="navMenu" [ngClass]="{'active': toggle}">
        <li class="item">
            <a (click)="ScrollToElement('main')">Inicio</a>
        </li>
        <li class="item">
            <a (click)="ScrollToElement('benefits')">Beneficios</a>
        </li>
        <li class="item">
            <a *ngIf="!showSignUp || likedTechs>0" (click)="GoToList()">Tecnologías <strong *ngIf="likedTechs>0">&#9829; ({{likedTechs}})</strong></a>
        </li>
        <li>
            <button *ngIf="showSignUp" (click)="Toggle()" class="btn" routerLink="/login/signup">Login</button>
        </li>
        <li>
            <button *ngIf="!showSignUp" class="btn" (click)="Logout()" routerLink="/main">Logout</button>
        </li>
    </ul>
    <div class="hamburger" [ngClass]="{'active': toggle}" (click)="Toggle()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>