/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'fontWeb';
    src: url('./assets/Fonts/Fira_Sans/FiraSans-Bold.ttf');
}

body{
    margin: 0;
    font-family: fontWeb;
}