/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'MBold';
    src: url('./assets/Fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'MLight';
    src: url('./assets/Fonts/Montserrat/Montserrat-ExtraLight.ttf');
}


@font-face {
    font-family: 'MLabel';
    src: url('./assets/Fonts/Montserrat/Montserrat-Medium.ttf');
}

body{
    margin: 0;
    font-family: MBold;
}

html{
    background-image: url('./assets/Backgrounds/Bg_Header.png');
    background-position: top;
}